.menu {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  overflow: scroll;
  flex: 1 1 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.categories {
  border-radius: 20px;
  background: #d5f0f1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.categories ul {
  overflow: scroll;
}

h1 {
  font-weight: 900;
  padding: 20px;
  margin: 0;
}

.categories li {
  font-weight: 900;
  color: var(--col-ac-sec);
  padding: 20px;
  border-bottom: 1px solid #b5dce8;
}

.categories li:last-child {
  border: none;
}

.categories li:hover {
  color: var(--col-ac);
  background: var(--col-card-bg);
}

.menu-gallery {
  overflow: scroll;
  flex: 1 1 1px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.item-preview {
  display: flex;
  flex-direction: column;
  height: 300px;
  clip-path: inset(0% 0% round 10px);
  background: var(--col-ac);
}

.item-preview .item-info {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 10px 20px;
  z-index: 99;
  background: var(--col-ac);
}

.item-preview .name {
  flex: 1;
}

.item-preview .price {
  font-weight: 900;
}

.item-preview .price::before {
  content: "₹";
}

.item-preview img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.5s ease-in-out;
  position: relative;
}

.item-preview img:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: brightness(0.5);
}

.add-button {
  background: lightgray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 10px solid gray;
  position: relative;
  font-size: 24px;
  color: gray;
  font-weight: 900;
  text-decoration: none;
  transition: 0.5s ease-in;
  height: 290px;
}

.add-button i {
  font-size: 90px;
}

.add-button:hover {
  border-bottom: 0px solid black;
  translate: 0 10px;
}

.menu-parent {
  flex: 1;
}

.selected {
  background: var(--col-card-bg);
}
